Seminar: "{{ title }}" - {{ speaker }}, {{ date.day }}/{{ date.month }}/{{ date.year }} {{ date.hour }}:{{ '%02d' % date.minute }}

<p>Dear all,</p>

<p>
  we are happy to announce the seminar "{{ title }}" by <strong>{{ speaker }}</strong> ({{ affiliation }}), which will be held on <strong>{{ date.day }}/{{ date.month }}</strong> at <strong>{{ date.hour }}:{{ '%02d' % date.minute }}</strong> in <strong>{{ where }}</strong>.
</p>

<p>You are all welcome to participate</p>

The organisers

</p>

<hr>
<p style="text-align: center;">
  <img src="{{ image }}" alt="" />  
  <strong>"{{ title }}"</strong><br>
  {{ speaker }}<br>
  <em>{{ affiliation }}</em>
</p>
<p>
  {{ abstract }}
</p>
