<p>Cari tutti,</p>

<p>
vi segnaliamo il seminario di {{ speaker }}.
</p>

<p>Siete tutti cordialmente invitati a partecipare.</p>

Daniele e Giacomo

</p>

<hr>
<p style="text-align: center;">
  <strong>"{{ title }}"</strong><br>
  {{ speaker }}<br>
  <em>{{ affiliation }}</em>
</p>
<p style="text-align: center;">
  <strong>{{ day_of_week }} {{ date.day }}/{{ date.month }}/{{ date.year }}</strong> <strong>{{ date.hour }}:{{ '%02d' % date.minute }}</strong><br>
  {{ where }}<br>
  {% if link|length > 0 %}Live streaming: <a href="{{ link }}">Teams link</a>{% endif %}
</p>
<p>
  {{ abstract }}
</p>
<p>
  Contact: {{ contact }}
</p>
